# ==========================================
# 1. 프로젝트 전용 대용량 파일 제외
# ==========================================
AI/data/
runs/
*.pt
*.onnx

# ==========================================
# 2. 파이썬 캐시 파일 및 가상환경 제외
# ==========================================
__pycache__/
*.pyc
.venv/
venv/

# ==========================================
# 3. OS(운영체제) 자동 생성 파일 제외
# ==========================================
# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# ==========================================
4. Reference 및 기타 파일 제외
# ==========================================
references/

# ==========================================
5. ROS2 빌드 결과물 제외
# ==========================================
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/